<div class="modal fade hide signIn" id="">
  <form class="form-horizontal" method="post" action="login">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>用户登陆</h3>
  </div>
  <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="user[name]">用户名：</label>
        <div class="controls">
          <input type="text" name="user[name]" placeholder="UserName" class="input-medium" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="user[pass]">密  码：</label>
        <div class="controls">
          <input type="password" name="user[pass]" placeholder="PassWord"  class="input-medium" />
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <a href="regist" class="btn"><i class="icon-plus-sign"></i> 注册</a>
    <button class="btn btn-primary"><i class="icon-ok-sign icon-white"></i> 登陆</button>
  </div>
  </form>
</div>