/**
 * Defined less css
 */
@navbarHeight: 40px;
@navbarBackground: @black;
@navbarBrandColor: @white;

body { padding-top: @navbarHeight + 20;}
#xhePanel label { display:inline; } /* Fix xheditor dialog display bug */
.xheTool a[cmd=About] { display:none !important; } /* Remove `about` of xheditor */


.my-topNav { 
	.opacity(90);
}

.modal.signIn {
	width: 300px;
	margin: -200px 0 0 -150px;

	form {
		.control-label {
			width: 60px;
		}
		.controls {
			margin-left: 80px;
		}
	}
}

.footer {
	padding: 20px;
	text-align: center;
	border-top: 1px solid @grayLight;
}

/**
 * 帖子列表
 */
div.my-postList {
	ul>li {
		padding: 10px 5px 0;
		border-bottom: 1px solid lighten(@gray, 60%);

		&:hover {
			.transition(all .5s ease-out);
			background-color: lighten(@grayLight, 30%);
		}
		.meta {
			margin: 0;
			text-align: right;
			color: @grayLight;
			font-size: @baseFontSize - 2;
			clear: both;
		}
	}
}
/**
 * 发表帖子表单
 */
form.my-postForm {
	padding: 10px;

	.control-group {
		margin: 6px auto;
	}
	.control-group .control-label {
		width: 50px;
	}
	textarea {
		height: 100px;
	}
	input[type=submit] {
		float: right; 
	}
}

/**
 * 帖子内容页
 */
.my-post,.my-replys {
	.post-title { 
		padding:5px; 
		border-bottom: 1px solid @grayLight;
	}
	.author-pic {
		clear:both;
		height: 80px;
		padding: 10px 0;
		text-align:center;
		img { width:64px; height:64px; border: 1px solid @gray; }
	}
	.post-info {
		margin-bottom: 10px;
		padding:5px 5px 0; 
		color:@grayLight;
		.author-name { font-size: @baseFontSize + 3;}
	}
	.artical-content {
		padding: 5px;
		margin-bottom: 20px;
	}
}

.my-replys {
	.reply-title {
		height: 32px;
		margin-bottom: 10px;
		border-bottom: 1px solid @grayLight;
		h3 { color: @blue; }
	}
	.comment {
		padding-bottom: 20px;
		border-bottom: 1px solid lighten(@grayLight, 30%);
	}
	.comment-info {
		text-align: right;
	}
}

/**
 * 用户个人主页
 */
.my-pim {
	.user-pic {
		margin-bottom: 20px;
		text-align: center;
	}
}
