<%
	var activeLi = {};
	activeLi[main] = "class='active'";
%>
<div class="my-pim">
	<ul class="breadcrumb">
		<li>
			<a href="/">首页</a>
			<span class="divider">&gt;</span>
		</li>
		<li class="active">
			用户中心
		</li>
	</ul>
	<div class="row-fluid">
		<div class="span2">
			<div class="user-pic">
				<img src="http://placehold.it/128x128" />
			</div>
			<ul class="nav nav-list">
				<li class="nav-header">个人信息</li>
				<li <%=activeLi["profile"] || "" %>>
					<a href="pim"><i class="icon-user"></i> 基本资料</a>
				</li>
				<li <%=activeLi["pic"] || "" %>>
					<a href="pim/pic" data-to=".container"><i class="icon-picture"></i> 修改头像</a>
				</li>
				<li>
					<a href="#"><i class="icon-magnet"></i> 账号绑定</a>
				</li>
				<li>
					<a href="#"><i class="icon-lock"></i> 安全设置</a>
				</li>
				<li class="nav-header">日志帖子</li>
				<li>
					<a href="#"><i class="icon-star"></i> 我的收藏</a>
				</li>
				<li>
					<a href="#"><i class="icon-list"></i> 帖子讨论</a>
				</li>
				<li class="nav-header">其它设置</li>
				<li>
					<a href="#"><i class="icon-cog"></i> 显示设置</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#"><i class="icon-question-sign"></i> 帮助</a>
				</li>
				<li>
					<a href="logout"><i class="icon-off"></i> 退出</a>
				</li>
			</ul>
		</div>
		<div class="span10 container">
			<%-partial(main) %>
		</div>
	</div>
</div>