
<div class="">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="javascript:void(0);">修改头像</a>
		</li>
	</ul>
	<div>
		<embed src="/lib/avatar_face/face.swf" quality="high" wmode="opaque" FlashVars="defaultImg=1_120.jpg?id=112" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="530" height="480"></embed>
	</div>
</div>